@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.main {
  background-size: cover;
background: linear-gradient(to right, #2193b0, #6dd5ed);
  /* background-image: url("./assests/Radiant-Gradient.svg") !important; */
}

.Quiz-title {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #5500a5;
  font-family: "Monoton";
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
}

.timer {
  font-size: 2rem;
  color: #D01919;
  font-weight: 600;
  padding: 10px;
}

.Login {
  padding-top: 10px;
}

.userName {
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 600;
}

.main-question {
  font-size: 1.6rem;
} 

.option {
  font-size: 1.5rem;
}

.question-submit {
  text-align: center;
  padding-top: 10vh;
}

.direction > h5{ 
  font-size: 1.7rem;
  text-align: center;
}